parameters:
	ignoreErrors:
		-
			message: '#^Call to static method getSettings\(\) on an unknown class Atymic\\Twitter\\Facade\\Twitter\.$#'
			identifier: class.notFound
			count: 2
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Call to static method postTweet\(\) on an unknown class Atymic\\Twitter\\Facade\\Twitter\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Call to static method postTweet\(\) on an unknown class Twitter\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Call to static method reconfig\(\) on an unknown class Atymic\\Twitter\\Facade\\Twitter\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Call to static method reconfig\(\) on an unknown class Twitter\.$#'
			identifier: class.notFound
			count: 1
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Call to static method usingCredentials\(\) on an unknown class Atymic\\Twitter\\Facade\\Twitter\.$#'
			identifier: class.notFound
			count: 2
			path: app/Console/Commands/TweetCrimes.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 5
			path: app/CrimeEvent.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$prio\.$#'
			identifier: property.notFound
			count: 1
			path: app/CrimeEvent.php

		-
			message: '#^Access to an undefined property App\\Dictionary\:\:\$words\.$#'
			identifier: property.notFound
			count: 1
			path: app/Dictionary.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Helper.php

		-
			message: '#^Offset ''url'' on array\{title\: ''Senaste nytt om…'', pageTitle\: ''Brand'', pageSubtitle\: ''Senaste nytt om…'', url\: ''/brand/''\} in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.offset
			count: 1
			path: app/Helper.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/FeedController.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 2
			path: app/Http/Controllers/FeedParserController.php

		-
			message: '#^Method App\\Http\\Controllers\\FeedParserController\:\:loadCities\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Http/Controllers/FeedParserController.php

		-
			message: '#^Method App\\Http\\Controllers\\PixelController\:\:pixelSok\(\) should return array but returns Illuminate\\Http\\JsonResponse\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/PixelController.php

		-
			message: '#^Method App\\Http\\Controllers\\PixelController\:\:pixelSok\(\) should return array but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/PixelController.php

		-
			message: '#^Default value of the parameter \#1 \$only_with_hits_more_than \(int\) of method App\\Http\\Controllers\\SearchController\:\:getSearches\(\) is incompatible with type bool\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: app/Http/Controllers/SearchController.php

		-
			message: '#^Method App\\Http\\Controllers\\SearchController\:\:getSearches\(\) should return array but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/SearchController.php

		-
			message: '#^Parameter \#1 \$items of static method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:make\(\) expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/SearchController.php

		-
			message: '#^Parameter \$only_with_hits_more_than of method App\\Http\\Controllers\\SearchController\:\:getSearches\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/SearchController.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\:\:load\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/StartController.php

		-
			message: '#^Parameter \#2 \$associative of function json_decode expects bool\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/VMAAlertsController.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Kernel\:\:\$middleware is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Foundation\\Http\\Kernel\:\:\$middleware\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Kernel.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Kernel\:\:\$middlewareGroups is not covariant with PHPDoc type array\<string, array\<int, string\>\> of overridden property Illuminate\\Foundation\\Http\\Kernel\:\:\$middlewareGroups\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Kernel.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Kernel\:\:\$routeMiddleware is not covariant with PHPDoc type array\<string, string\> of overridden property Illuminate\\Foundation\\Http\\Kernel\:\:\$routeMiddleware\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Kernel.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Middleware\\EncryptCookies\:\:\$except is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Cookie\\Middleware\\EncryptCookies\:\:\$except\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: app/Http/Middleware/StockholmRedirectMiddleware.php

		-
			message: '#^Strict comparison using \=\=\= between int\<1, max\>\|false and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Http/Middleware/StockholmRedirectMiddleware.php

		-
			message: '#^PHPDoc type array of property App\\Http\\Middleware\\VerifyCsrfToken\:\:\$except is not covariant with PHPDoc type array\<int, string\> of overridden property Illuminate\\Foundation\\Http\\Middleware\\PreventRequestForgery\:\:\$except\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Locations\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Locations.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array of property App\\Models\\VMAAlert\:\:\$casts is not covariant with PHPDoc type array\<string, string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$casts\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/VMAAlert.php

		-
			message: '#^PHPDoc type array of property App\\Models\\VMAAlert\:\:\$guarded is not covariant with PHPDoc type array\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$guarded\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/VMAAlert.php

		-
			message: '#^Call to an undefined method League\\Geotools\\Distance\\DistanceInterface\:\:flat\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Place.php

		-
			message: '#^PHPDoc type array of property App\\Providers\\EventServiceProvider\:\:\$listen is not covariant with PHPDoc type array\<string, array\<int, string\>\> of overridden property Illuminate\\Foundation\\Support\\Providers\\EventServiceProvider\:\:\$listen\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Providers/EventServiceProvider.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/User.php

		-
			message: '#^PHPDoc type array\<string\> of property App\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/User.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<\(int\|string\), Illuminate\\Database\\Eloquent\\Model\|null\>\:\:load\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/View/Components/EventsBox.php
