includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    # Level 9 är högsta. 5 är rimligt för äldre Laravel-kodbas.
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
