:root {
    --color-grey-light: #ddd;
    --color-link: #0379c4;
    --color-link: #15c; /* same colors as lighthouse */
    --color-gray-1: #666;
    --color-gray-2: #ddd;
    --color-gray-3: #333;
    --color-red: #cb4739;
    --color-red-light: rgb(148, 53, 44);
    --color-blue-police: #1862a8;
    --color-blue-police-active: #0c3256;
    --color-white: #eee;
    --color-yellow: #ffcc33;
    --default-margin: 1rem;
    --default-margin-half: calc(var(--default-margin) / 2);
    --default-margin-third: calc(var(--default-margin) / 3);
    --default-margin-double: calc(var(--default-margin) * 2);
    --font-size-medium: 1.3rem;
    --font-size-large: 1.5rem;
    --font-size-small: 0.9rem;
    --border-radius-normal: 10px;
}

html,
body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /*font-family: sans-serif;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
}

body {
    padding-top: 150px;
    /*background: #fafafa;*/
    background: #f4f4f7;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    font-weight: 300;
    line-height: 1.2;
}

h2 + p,
h3 + p,
h4 + p {
    /*background: lightyellow;*/
    margin-top: 0;
}

h1,
h2,
h3,
h4,
ul,
ol {
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin-half);
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dt {
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin-half);
    font-weight: 500;
}

dd {
    margin-left: var(--default-margin-double);
}

button {
    font-size: 1rem;
    line-height: 1;
    padding: var(--default-margin-half);
    margin: var(--default-margin-half);
}

blockquote {
    padding-left: var(--default-margin);
    margin-left: var(--default-margin);
    border-left: var(--default-margin-third) solid var(--color-gray-2);
    font-style: italic;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.MainContent,
.MainSidebar {
    width: 100%;
}

/* .container:after {
    content: "";
    display: table;
    clear: both;
} */

#HeaderAnimationMarker {
  position: absolute;
  top: 125px;
  width: 0px;
  height: 0px;
}

.NotificationBar {
    background: var(--color-red);
    color: var(--color-white);
    padding: var(--default-margin-half);
    width: 100%;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    line-height: 1.2;
    text-align: center;
    font-size: var(--font-size-small);
}

.NotificationBar a {
    color: inherit;
    text-decoration: underline;
}

.NotificationBar p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SiteHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 15;
    padding: var(--default-margin);
    -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 0.75rem;
    background: var(--color-yellow);
}

.SiteHeader::after {
    content: "";
    background-color: var(--color-blue-police);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
}

.has-notification-bar .SiteHeader {
    top: 2rem;
}

.SiteHeader__inner {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: 1; /* above background color elm */
}

.SiteHeader__loggedin {
    position: absolute;
    top: 0;
    right: 0;
    color: darkgreen;
    font-weight: bold;
}

.SiteTitle {
    margin: 0;
    line-height: 1;
    /*text-transform: uppercase;*/
    font-size: 1.25rem;
    transform-origin: center;
}

.SiteTagline {
    display: none;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-style: normal;
    line-height: 1;
}

.SiteTagline em {
    font-style: inherit;
}

.SiteTitle a {
    text-decoration: none;
    color: inherit;
}

.SiteHeader__icon {
    text-align: center;
}

/* Site navigation */
.SiteNav {
    position: relative;
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: #fff;
}

.SiteNav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.SiteNav__item {
    /* display: inline-block; */
    text-align: center;
    /* width: 25%; */
    white-space: nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
}

.SiteNav__item a,
.SiteNav__item__menuToggle {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    margin: 0;
    color: inherit;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
    border: none;
    border-right: 1px solid rgb(104, 154, 200);
    background-color: var(--color-blue-police);
    padding-right: 0;
}

.SiteNav__item--menu {
    flex-basis: 50%;
}

/* .SiteNav__item__menuToggle {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
} */


.SiteNav__item:first-of-type a {
    border-left: 1px solid rgb(104, 154, 200);
}

.SiteNav__item a:hover {
    /* border-bottom-color: var(--color-red); */
    background-color: var(--color-blue-police-active);
    text-decoration: none;
}

.SiteNav__item svg,
.SiteNav__item span {
    vertical-align: middle;
    display: inline-block;
}

.Sidebar {
    background-color: var(--color-blue-police);
    color: var(--color-white);
    opacity: 0.95;
}

.Sidebar-close {
    float: right;
    background: transparent;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    color: inherit;
}

.Sidebar-contents {
    margin: var(--default-margin-double);
}

.Sidebar-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Sidebar-nav a {
    display: block;
    padding: var(--default-margin-half);
    color: inherit;
}

.Sidebar__lan__accordion header {
    background: transparent;
    padding: var(--default-margin-half);
    border: 0;
    background-image: url(/img/baseline-expand_more-24px.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.Sidebar__lan__accordion header[aria-expanded="true"] {
    background-image: url(/img/baseline-expand_less-24px.svg);
}

.Sidebar__lan__accordion__items a {
    color: inherit;
}

.Sidebar-nav-large {
    font-size: var(--font-size-large);
}

.Sidebar-nav-small {
    font-size: var(--font-size-small);
    margin-top: var(--default-margin);
}

.Sidebar-nav-large ul,
.Sidebar-nav-small ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Sidebar-nav-large .Sidebar__lan__accordion__items {
    /* list-style: none;
    margin: 0 0 0 var(--default-margin);
    padding: 0; */
    margin-left: var(--default-margin);
    font-size: var(--font-size-small);
}

.Sidebar .SubNav {
    margin-left: 1rem;
}

.Sidebar-social {
    list-style: none;
    margin: var(--default-margin-double) 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.DayNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.DayNav__item {
    width: 50%;
}

.DayNav__item--next {
    text-align: right;
}

.Events {
    /*column-count: 2;*/
    /*overflow: auto;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Events:after {
    content: "";
    display: table;
    clear: both;
}

.Event {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: white;
    padding: var(--default-margin);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 0.1s ease-out;
    transition: -webkit-box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out;
    transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
}

.Events__day {
    clear: both;
}

.Events__dayEvents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.Events__dayEvents .Event.Event {
    /* outline: 2px solid #fab; */
    width: auto;
    float: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
}

.Events__dayTitle {
    padding-top: var(--default-margin-double);
    margin-bottom: var(--default-margin);
    font-size: var(--font-size-medium);
}

.Events__dayTitle::first-letter {
    text-transform: uppercase;
}

.Events__dayTitle time {
    background: url(/img/ic_today_black_24px.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
}

.Events__dayTitle span {
    font-weight: normal;
}

.Events--overview .Event:hover {
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

.Event:nth-of-type(1) {
    margin-top: var(--default-margin);
}

.Event__title {
    line-height: 1.2;
    margin-top: var(--default-margin);
    margin-bottom: 0.25rem;
    /*word-break: break-all;*/
    font-weight: 400;
}

.Event__titleLink {
    display: block;
    word-wrap: break-word;
}

.Event__teaser {
    font-weight: 300;
}

.Event__date {
    /*margin-bottom: .75rem;*/
    margin-top: 0.75rem;
}

.Event__location {
    margin-bottom: 0.75rem;
    /* padding-left: 30px; */
}

.Event__location,
.Event__dateHuman {
    display: block;
    padding-left: 22px;
}

.Event__location::before,
.Event__dateHuman::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(/img/ic_place_black_18px.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-left: -24px;
}

.Event__dateHuman::before {
    background-image: url(/img/ic_today_black_18px.svg);
    background-image: url(/img/ic_access_time_black_18px.svg);
}

.Event--overview .Event__location a {
    color: var(--color-gray-1);
}

.Event__meta {
    line-height: 1.3;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: var(--font-size-small);
    color: #666;
}

.Event__source {
    font-size: var(--font-size-small);
    color: #666;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Event__metaDivider {
    color: var(--color-grey-light);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    /*-webkit-font-smoothing: none;*/
}

.Event__dateHuman {
    /* white-space: nowrap; */
    display: block;
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

.Event__dateHuman__time {
    cursor: help;
}

.Events--overview .Event__title {
    font-size: 1.4rem;
}

.Event--single .Event__title {
    font-size: 1.75rem;
}

.Event__teaser p {
    margin: 0;
}

.Event__content {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

.Event__content p {
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

.Event__content p:first-child {
    margin-top: 0;
}

.Event__content p:last-child {
    margin-bottom: 0;
}

.Event__contentLink {
    display: block;
    color: inherit;
}

.Event__contentLink:hover {
    text-decoration: none;
    /*color: var(--color-link);*/
}

/* emulate p tags using br */
/*.Event__content br {
    line-height: 2;
}*/

.Event__related {
    margin-top: var(--default-margin);
    border-top: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.Event__share {
    line-height: 1;
    margin-top: var(--default-margin);
    border-top: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.Event__shareTitle {
    color: #666;
    margin-top: 0;
    font-size: var(--font-size-small);
}

amp-social-share {
    margin-right: 0.25rem;
}

/*
.Event__content {
    max-height: 5rem;
}
.Event__content:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient( rgba(255, 255, 255, 0), white)
}
*/

.Event__map {
    display: block;
    overflow: hidden;
    max-height: 309px;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    line-height: 1;
    border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);
}

.Event__mapImageWrap {
    display: block;
    float: left;
}
.Event__mapImageWrap--near {
    /* width: 100%; */
    width: 66.666%;
}
.Event__mapImageWrap--far {
    width: 33.333%;
    border-left: 5px solid white;
}

/* typ län, göm sverigekarta pga ser redan var det är */
.Event--distance_veryfar .Event__mapImageWrap--near,
.Event--distance_far .Event__mapImageWrap--near {
    width: 100%;
}

.Event--distance_veryfar .Event__mapImageWrap--far,
.Event--distance_far .Event__mapImageWrap--far {
    display: none;
}

.SearchForm {
    margin-bottom: var(--default-margin);
}

input[type="text"],
input[type="email"],
input[type="url"] {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-grey-light);
}

input[type="text"],
input[type="email"],
input[type="url"],
.SearchForm__s,
.SearchForm__submit,
.SearchForm__select {
    font-size: 1rem;
    padding: var(--default-margin-half);
    display: inline-block;
}

.SearchForm__select {
    margin-top: 0.5rem;
}

.SearchForm__s {
    width: calc(100% - 5rem);
}

.SearchForm__submit {
    width: 4rem;
    background: #eee;
    border: 1px solid #999;
}

.HeaderSearch {
    float: right;
    margin-top: -1rem;
    width: 30%;
    text-align: right;
    line-height: 1;
    margin-bottom: -1rem;
}

.HeaderSearch__s {
    width: 100%;
}

.HeaderSearch__submit {
    display: none;
}

.pagination {
    text-align: center;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
}

.pagination li {
    display: inline-block;
}

.pagination li > a,
.pagination li > span {
    display: block;
    padding: 0.25em;
}
.pagination li > span {
    font-weight: bold;
}
.pagination li > a:hover {
    background: #ccc;
}

.LanListing,
.PlatsListing {
    overflow: hidden;
}

.LanListing__title {
    font-size: var(--font-size-large);
    padding-top: var(--default-margin);
    padding-bottom: var(--default-margin-half);
    margin: 0;
}

.LanListing__events {
    margin: 0;
    font-size: var(--font-size-small);
}

.LanListing__events b {
    font-weight: 500;
}

.ListEvent {
    overflow: auto;
    flex-basis: 100%;
}

.ListEvent__imageLink {
    float: right;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin-left: var(--default-margin-half);
    border-radius: var(--border-radius-normal);
}

.ListEvent__titleLink {
    display: block;
}

.ListEvent__image {
    display: block;
}

.PlatsListing__plats {
    width: 50%;
    float: left;
    font-size: 1rem;
    padding-top: var(--default-margin-half);
    padding-bottom: var(--default-margin-half);
    margin: 0;
}

.SiteFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: var(--default-margin-double);
    margin-top: var(--default-margin-double);
    padding-top: var(--default-margin-double);
    border-top: 1px solid var(--color-grey-light);
    background-color: #eee;
}

.SiteFooter__col {
    margin-right: var(--default-margin);
    /* background: #fab; */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
}

.SiteFooter h2 {
    font-size: 1rem;
}

@media only screen and (min-width: 667px) {
    .SiteFooter {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

@media only screen and (min-width: 1024px) {
    .SiteFooter__col {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }
}

.SiteFooter__navlinks {
    list-style-type: none;
    padding: 0;
}

.SiteFooter__navlinks a {
    padding: 0.15rem 0;
    display: block;
}

.Breadcrumbs {
    list-style: none;
    margin-bottom: var(--default-margin);
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--default-margin);
    /*overflow: hidden;*/
    padding: 0;
    line-height: 1.2;
    font-size: var(--font-size-small);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Breadcrumbs__intro,
.breadcrumbs,
.breadcrumbs li,
.breadcrumbs a,
.breadcrumbs .divider,
.Breadcrumbs__switchLan {
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
}

.breadcrumbs li {
    position: relative;
    margin-right: 1.5rem;
}

.breadcrumbs li:last-child {
    margin-right: 0.5rem;
}

.breadcrumbs a {
    display: block;
    position: relative;
}

.Breadcrumbs__intro {
    margin-right: var(--default-margin-half);
}

.breadcrumbs .divider {
    position: absolute;
    top: 0;
    right: -0.9rem;
    color: #555;
}

.Breadcrumbs__switchLan__belowTitle .Breadcrumbs__switchLan {
    margin-left: 0;
}

.Breadcrumbs__switchLan,
.Button {
    background: var(--color-link);
    color: #fff;
    padding: 0.4rem 0.8rem;
    font-size: 0.75rem;
    margin-top: -0.3rem;
    margin-left: 0.75rem;
    border-radius: 3px;
    vertical-align: middle;
}

.Breadcrumbs__switchLan:hover {
    text-decoration: none;
    background: var(--color-link);
}

.Ad {
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    clear: both;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
}

.Ad__intro {
    /* font-size: var(--font-size-small); */
    position: relative;
    z-index: 10;
    line-height: 1;
    font-size: 0.6rem;
    /* text-transform: uppercase; */
    color: #555;
}

/* related events on single page */
.RelatedEvents__item__link {
    display: block;
}

.RelatedEvents__item__title,
.RelatedEvents__item__location,
.RelatedEvents__item__date {
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

.RelatedEvents__item__title {
    font-size: var(--font-size-small);
    /*font-weight: bold;*/
    margin-bottom: 0;
}

.RelatedEvents__item__titleType {
    line-height: 1;
}

.RelatedEvents__item__location,
.RelatedEvents__item__date {
    font-size: var(--font-size-small);
    color: #666;
}

.RelatedEvents__item__dateDivider {
    color: var(--color-grey-light);
    -webkit-font-smoothing: antialiased;
}

.MainContent .MostViewedRecently {
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

.MostViewedRecently {
    display: flex;
    align-items: center;
}

.MostViewedRecently__items {
    flex: 1 1 100%;
    height: 1.3em;
}


.MostViewedRecently__title {
    font-size: 1rem;
    line-height: 1;
    flex: 1 0 auto;
    margin: 0 .25rem 0 0;
}

.MostViewedRecently .amp-carousel-button {
    display: none;
}

.MostViewedRecently__item {
    /* background: #fab;
    border: 1px solid #aaa;
    max-width: 40%;
     */
    /* display: inline-block;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
    max-width: 90%;
    margin-bottom: var(--default-margin);
    vertical-align: top;
    border-right: 1px solid #ddd;
    padding-right: var(--default-margin);
    margin-left: var(--default-margin); */
}

/* new overview style, more overview-ish */

.Event--v2,
.Event--v2:nth-of-type(1) {
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

/* 2 i bredd */

.Event--v2 .Event__teaser {
    margin-top: var(--default-margin-half);
}

.Event--v2 .Event__meta {
    border-bottom: none;
    padding-top: 0.75rem;
    padding: 0;
    margin: 0;
    margin-top: var(--default-margin-half);
    padding-top: 0;
    font-size: var(--font-size-small);
    line-height: 1.3;
}

.Event--v2 .Event__dateHuman {
    margin-bottom: 0;
}

.Event--v2 .Event__contentLink {
    display: none;
}

.Event--v2 .Event__title {
    margin-top: 0;
    font-size: 1.1rem;
}

.Event--v2 .Event__title,
.Event--v2 .Event__teaser {
    font-weight: normal;
    font-weight: 300;
    word-break: normal;
    line-height: 1.3;
}

.Event--v2 .Event__parsedTitle {
    font-weight: 400;
}

.Event--v2 .Event__dateHuman {
    color: var(--color-grey-light);
    color: #666;
    font-size: var(--font-size-small);
    line-height: 1.3;
}

.Event__dictionaryWords {
    margin-top: var(--default-margin);
    padding-top: var(--default-margin);
    border-top: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.85rem;
    overflow: auto;
    line-height: 1.2;
}

.Event__dictionaryWordsTitle {
    margin-top: 0;
}

.Event__dictionaryWord {
    float: left;
    width: 48%;
}

.Event__dictionaryWord:nth-child(2n + 1) {
    float: right;
}

.Event__dictionaryWord:nth-child(2n + 2) {
    clear: both;
}

.Event__dictionaryDictionaryLink {
    overflow: auto;
    clear: both;
    margin-bottom: 0;
}

.Event__dictionaryDictionaryLink a {
    display: block;
    margin-top: var(--default-margin);
}

.Event__dictionaryWordTitle {
    margin-top: 0;
}

.Event__dictionaryWordTitle {
    font-size: 1rem;
}

.Event__dictionaryWordDescription {

}

.Event__dictionaryWordDescription > p {
    margin-top: 0;
}

.Event__drabbad {
    margin-top: var(--default-margin);
    padding-top: var(--default-margin);
    border-top: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Event__drabbad__title {
    margin-top: 0;
}

.PageApps__screenshots {
    float: right;
}

.PageApps__screenshots amp-img {
    display: inline-block;
    width: 125px;
    vertical-align: top;
    margin: var(--default-margin-half);
}

.Event__admin {
    padding-top: var(--default-margin);
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    border-top: 1px solid var(--color-grey-light);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Event__admin form {
    margin-top: var(--default-margin);
}

.Event__admin input[type="text"] {
    width: 100%;
}

.AddMediaFormFields input[type="text"],
.AddMediaFormFields input[type="url"] {
    /*    width: 32%;
        display: inline-block;
    */
    width: 100%;
    margin-bottom: var(--default-margin-half);
}

.user-valid {
    border-color: darkgreen;
}

.user-invalid {
    border-color: darkred;
}

.BlogItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.BlogItems .BlogItem {
    margin-bottom: var(--default-margin-double);
    padding-bottom: var(--default-margin-double);
    border-bottom: 1px solid var(--color-grey-light);
}

.BlogItems li:first-of-type .BlogItem {
    margin-top: var(--default-margin-double);
    padding-top: var(--default-margin-double);
    border-top: 1px solid var(--color-grey-light);
}

.BlogItems li:first-of-type h2 {
    margin-top: 0;
}

.BlogItems .BlogItem:after {
    content: "";
    display: table;
    clear: both;
}

.BlogItem img {
    max-width: 100%;
}

.BlogItem .Event__meta {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    border: none;
}

.DictionaryListing__title {
    margin-top: var(--default-margin-double);
}

.DictionaryAllWordsListing__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.DictionaryAllWordsListing__item {
    display: inline-block;
}

.DictionaryAllWordsListing__link {
    display: inline-block;
}

.widget--follow ul {
    margin: 0 0 0 1.2rem;
    padding: 0;
}

.widget--counties p:last-child {
    margin-bottom: 0;
}

.PoliceStation-locationsNav,
.PoliceStation-servicesItems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.PoliceStation-service,
.PoliceStation-locationsNav-item {
    display: inline-block;
}

.PoliceStations-lanName {
    margin-top: var(--default-margin-double);
    margin-bottom: var(--default-margin-double);
    padding-top: var(--default-margin-double);
    border-top: 1px solid var(--color-grey-light);
}

.PoliceStation-wrap:target,
.PoliceStations-wrap:target {
    background: lightyellow;
    padding: 0px 0;
    margin-top: 260px;
    padding-top: 50px;
}

.PoliceStation-name {
    margin-top: var(--default-margin);
}

.PoliceStation-street {
    text-indent: 20px;
    margin-top: var(--default-margin-half);
    margin-bottom: var(--default-margin-half);
}

.PoliceStation-street::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(/img/ic_place_black_18px.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-left: -20px;
    margin-top: 2px;
}

.PoliceStation-services {
    font-size: var(--font-size-small);
}

.PoliceStation-servicesTitle {
    margin-bottom: 0;
}

.PoliceStation-servicesTitle,
.PoliceStation-servicesItems {
    display: inline;
}

.LanPolicestations-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* nånstans i mitten... */
/*@media only screen and (min-width: 400px) and (max-width: 666px) {

}*/

@media only screen and (max-width: 667px) {
    .SiteNav__item svg {
        display: none;
    }

    .SiteNav__item__menuToggle svg {
        display: inline-block;
    }
}

/* ~ipad~ iphone 6 liggande and other medium to large screens */
@media only screen and (min-width: 667px) {

    .SiteTitle {
        transform-origin: left;
    }

    .SiteHeader__icon {
        text-align: left;
    }

    .SiteNav__items {
        text-align: left;
    }

    .SiteNav__item a:hover {
        text-decoration: none;
    }

    .MainContent {
        width: 63%;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 63%;
                flex: 0 1 63%;
    }

    .MainSidebar {
        width: 33%;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 33%;
                flex: 0 1 33%;
    }

    .Events--overview .Event {
        margin-top: var(--default-margin);
        margin-bottom: var(--default-margin);
    }

    .Events--overview .Event:nth-of-type(1),
    .Events--overview .Event:nth-of-type(2) {
        margin-top: 0;
    }

    .LanListing__lan {
        float: left;
        width: 50%;
    }
}

/* smått, typ iphone 5, göm lite ikoner och sånt */
@media only screen and (max-width: 320px) {
    .SiteNav__items {
        font-size: 0.9rem;
    }

    .SiteNav__item {
        width: auto;
    }

    .SiteNav__item a {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}

/* Utilities */
.u-margin-bottom {
    margin-bottom: var(--default-margin);
}

.u-margin-bottom-double {
    margin-bottom: var(--default-margin-double);
}

.u-margin-top {
    margin-top: var(--default-margin);
}

.u-margin-top-double {
    margin-top: var(--default-margin-double);
}

.u-padding-bottom {
    padding-bottom: var(--default-margin);
}

.u-padding-bottom-double {
    padding-bottom: var(--default-margin-double);
}

.u-padding-top {
    padding-top: var(--default-margin);
}

.u-padding-top-double {
    padding-top: var(--default-margin-double);
}

.u-border-top {
    border-top: 1px solid var(--color-grey-light);
}

.u-border-bottom {
    border-bottom: 1px solid var(--color-grey-light);
}

.u-inline-block {
    display: inline-block;
}

.u-hidden {
    display: none;
}

/* Widgets */
.widget {
    background: #fff;
    padding: var(--default-margin);
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-top: 2px solid var(--color-yellow);
    /* Google ads overflow whole page from widget placements sometimes...
       Prevent this using hidden.
       Removed again, because ads disappeared
     */
    /* overflow-x: hidden; */
    width: 100%;
}

.widget__title {
    margin-top: 0;
    margin-left: calc(-1 * var(--default-margin));
    margin-right: calc(-1 * var(--default-margin));
    margin-bottom: var(--default-margin);
    padding: var(--default-margin);
    padding-top: 0;
    border-bottom: 1px solid var(--color-gray-2);
}

h2.widget__title {
    font-size: 1rem;
    color: var(--color-gray-3);
}

.widget__listItems {
    list-style-type: none;
    padding-left: 0;
}

.widget__listItem {
    /* margin-bottom: var(--default-margin); */
    /* border-top: 1px solid var(--color-gray-2); */
    /* margin-top: var(--default-margin); */
    padding-top: var(--default-margin);
    padding-bottom: var(--default-margin);
}

.widget__listItems--mostViewed .widget__listItem__title {
    font-size: var(--font-size-medium);
}

.widget__listItem:first-of-type {
    border-top: none;
    padding-top: 0;
}

.teaser {
    font-size: var(--font-size-medium);
    color: var(--color-gray-1);
}

.widget__listItem__preTitle,
.RelatedEvents__item__titleType,
.Event__type,
.u-ucase-grey {
    color: var(--color-gray-1);
    font-size: var(--font-size-small);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: var(--default-margin-third);
    /* text-transform: uppercase; */
    display: block;
}

.Event__type {
    color: var(--color-red-light);
}

.Event--single .Event__type {
    text-transform: uppercase;
}

.widget__listItem__title {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    hyphens: auto;
}

.widget__listItem__text {
    font-size: var(--font-size-small);
    color: var(--color-gray-1);
    margin-top: var(--default-margin-third);
    margin-bottom: 0;
}

.widget__listItem__text p {
    margin-top: 0;
    margin-bottom: 0;
}

.widget__listItem__text p:not(:first-child) {
    margin-top: var(--default-margin-third);
}

.MostViewed__item {
    width: 90%;
    max-width: 400px;
    white-space: initial;
    margin-bottom: var(--default-margin);
    vertical-align: top;
    border-right: 1px solid #ddd;
    padding-right: var(--default-margin);
    margin-left: var(--default-margin);
}

.MostViewed__item__link {
    display: block;
}

.SubNav__select {
    font-size: 1rem;
}

.u-color-bg-red {
    background-color: var(--color-red);
}

.u-color-bg-blue-police {
    background-color: var(--color-blue-police);
}

.u-color-bg-yellow {
    background-color: var(--color-yellow);
}

.u-color-white {
    color: var(--color-white);
}

.u-color-red {
    color: var(--color-red);
}

.u-color-gray-1 {
    color: var(--color-gray-1);
}

.u-w100 {
    width: 100%;
}
