name: Deploy to live

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@brottsplatskartan.se:22/brottsplatskartan'
          ssh_private_key: ${{ secrets.PRIVATE_KEY }}
          branch: 'main'
